@{
    ViewBag.Title = "e-Socium home page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                e-Socium gives survey analysts a powerful tool for 
                extraction of main ideas expressed by respondents
                in their answers to open ended questions from surveys.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        Simple and intuitive user interface.
    </li>

    <li class="two">
        Interactive approach to data analysis.
    </li>

    <li class="three">
        High quality of results achieved by intricate machine learning techniques.
    </li>
</ol>